flows.json
[
    {
        "id": "79404673d12941f2",
        "type": "tab",
        "label": "Keep alive (uptime)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c023d7bca1dcba3",
        "type": "tab",
        "label": "Mongo DB (Atlas)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af18fc3a6ea20002",
        "type": "tab",
        "label": "Telegram",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "111b52d7f72dcde4",
        "type": "tab",
        "label": "File system",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8673a58c7a8b6d4",
        "type": "tab",
        "label": "Replit Database (http)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d018a781d8da7e02",
        "type": "tab",
        "label": "Replit Database (npm)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd4cee0543666609",
        "type": "subflow",
        "name": "write key",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "3c69599a19c1bb70"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 80,
                "wires": [
                    {
                        "id": "fb4d80e71cbbacb6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DB_URL",
                "type": "env",
                "value": "REPLIT_DB_URL"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ae965ff4142a1f56",
        "type": "subflow",
        "name": "read key",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "f7cb96e041dfd223"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 80,
                "wires": [
                    {
                        "id": "a2e4acb052e9eb4e",
                        "port": 0
                    },
                    {
                        "id": "870e34cdb607c741",
                        "port": 0
                    },
                    {
                        "id": "e9fc2162e499b3d6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DB_URL",
                "type": "env",
                "value": "REPLIT_DB_URL"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "51d46dfb7c36233d",
        "type": "subflow",
        "name": "delete key",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "820d02750e8a525d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 80,
                "wires": [
                    {
                        "id": "338144cc1006946e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DB_URL",
                "type": "env",
                "value": "REPLIT_DB_URL"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "670f987126b6d313",
        "type": "subflow",
        "name": "dump db",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "a53dec06c81f767e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 80,
                "wires": [
                    {
                        "id": "e9b1198993ee8f12",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DB_URL",
                "type": "env",
                "value": "REPLIT_DB_URL"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "77b25691e26355cb",
        "type": "subflow",
        "name": "drop db",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "3b1b215e4802da35"
                    },
                    {
                        "id": "772e176996905f90"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 80,
                "wires": [
                    {
                        "id": "d0e580c138d605a4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DB_URL",
                "type": "env",
                "value": "REPLIT_DB_URL"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e956e6dd064811c4",
        "type": "subflow",
        "name": "replitdb set",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "7249550c1f3e1d2b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "7249550c1f3e1d2b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "478f6bb31457a2d0",
        "type": "subflow",
        "name": "replitdb get",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "b90ff560b71325fe"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "b90ff560b71325fe",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6bef94800244e7e5",
        "type": "subflow",
        "name": "replitdb del",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "286e8111d9f1758c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "286e8111d9f1758c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "87278472e4564b17",
        "type": "subflow",
        "name": "replitdb keys",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "63884ffc7eff5098"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "63884ffc7eff5098",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "86b72b03d3957ef8",
        "type": "subflow",
        "name": "replitdb dump",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "7365d80b735186f2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 80,
                "wires": [
                    {
                        "id": "f9c7119f65ba54df",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "21c789ed7792f7ee",
        "type": "subflow",
        "name": "replitdb drop",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "9d740d53c50a4315"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 80,
                "wires": [
                    {
                        "id": "13b3957583d00a8c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5f0ab4dbfdbefa3f",
        "type": "ui_tab",
        "name": "Keep alive",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a2a2e88e9480d9f4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "771697455c511c76",
        "type": "ui_group",
        "name": "Node-RED on line",
        "tab": "5f0ab4dbfdbefa3f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be328a48cb9e1cbf",
        "type": "telegrambot-config",
        "botname": "Replit",
        "usernames": "",
        "chatIds": "",
        "pollInterval": "300"
    },
    {
        "id": "160e81fb.f1c86e",
        "type": "ui_group",
        "name": "File Browser",
        "tab": "b63d1f91.68095",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ddb72df8452ba7d7",
        "type": "ui_group",
        "name": "Desktop",
        "tab": "b63d1f91.68095",
        "order": 4,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "af2fe563cfd2cfa6",
        "type": "ui_group",
        "name": "Mobile",
        "tab": "b63d1f91.68095",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "26e8fe8026c92abb",
        "type": "ui_group",
        "name": "Properties",
        "tab": "b63d1f91.68095",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4128a70510a0cd4e",
        "type": "ui_group",
        "name": "Text editor",
        "tab": "b63d1f91.68095",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b63d1f91.68095",
        "type": "ui_tab",
        "name": "Files",
        "icon": "folder_open",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9ee91c1b.c2b67",
        "type": "ui_group",
        "name": "Default",
        "tab": "b37faec6.3798a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b37faec6.3798a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2bb8dfa0.48854",
        "type": "mongodb",
        "hostname": "cluster0.ii09c.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "test",
        "name": ""
    },
    {
        "id": "1f60311aa97d336d",
        "type": "http request",
        "z": "bd4cee0543666609",
        "name": "POST",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "61b4c50149216c91"
            ]
        ]
    },
    {
        "id": "61b4c50149216c91",
        "type": "switch",
        "z": "bd4cee0543666609",
        "name": "msg.statusCode?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "fb4d80e71cbbacb6"
            ],
            [
                "4fdf9a05c32d89d4"
            ]
        ]
    },
    {
        "id": "4fdf9a05c32d89d4",
        "type": "function",
        "z": "bd4cee0543666609",
        "name": "error",
        "func": "node.error(\"Key not written: \" + msg.topic, msg);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "f28825235f8aaa11",
        "type": "template",
        "z": "bd4cee0543666609",
        "d": true,
        "name": "set msg.url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{db}}}/{{{topic}}}={{{payload}}}",
        "output": "str",
        "x": 370,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "80656b15f6454eae",
        "type": "change",
        "z": "bd4cee0543666609",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\": \"application/x-www-form-urlencoded\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "c9b30de6b370d684"
            ]
        ]
    },
    {
        "id": "14de0bb67dc8b6ca",
        "type": "change",
        "z": "bd4cee0543666609",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic & \"=\" & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "80656b15f6454eae"
            ]
        ]
    },
    {
        "id": "3c69599a19c1bb70",
        "type": "change",
        "z": "bd4cee0543666609",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stored",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 280,
        "wires": [
            [
                "14de0bb67dc8b6ca"
            ]
        ]
    },
    {
        "id": "a22eea423028db93",
        "type": "change",
        "z": "bd4cee0543666609",
        "d": true,
        "name": "extract response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$replace(responseUrl, db & \"/\" & topic & \"=\", \"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fb4d80e71cbbacb6",
        "type": "change",
        "z": "bd4cee0543666609",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "stored",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c9b30de6b370d684",
        "type": "change",
        "z": "bd4cee0543666609",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "db",
                "pt": "msg",
                "to": "DB_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "f32376cd8c7f03bf"
            ]
        ]
    },
    {
        "id": "f32376cd8c7f03bf",
        "type": "template",
        "z": "bd4cee0543666609",
        "name": "set msg.url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{db}}}",
        "output": "str",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "1f60311aa97d336d"
            ]
        ]
    },
    {
        "id": "66fddb0f314c2862",
        "type": "http request",
        "z": "ae965ff4142a1f56",
        "name": "GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "46d8a126174a71e0"
            ]
        ]
    },
    {
        "id": "4c361e358d124e33",
        "type": "template",
        "z": "ae965ff4142a1f56",
        "name": "set msg.url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{db}}}/{{{topic}}}",
        "output": "str",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "66fddb0f314c2862"
            ]
        ]
    },
    {
        "id": "f7cb96e041dfd223",
        "type": "change",
        "z": "ae965ff4142a1f56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "db",
                "pt": "msg",
                "to": "DB_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "4c361e358d124e33"
            ]
        ]
    },
    {
        "id": "46d8a126174a71e0",
        "type": "switch",
        "z": "ae965ff4142a1f56",
        "name": "msg.statusCode?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "a2e4acb052e9eb4e"
            ],
            [
                "8ee5b970ca4330b7"
            ]
        ]
    },
    {
        "id": "870e34cdb607c741",
        "type": "change",
        "z": "ae965ff4142a1f56",
        "name": "cast number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e9fc2162e499b3d6",
        "type": "catch",
        "z": "ae965ff4142a1f56",
        "name": "not a number",
        "scope": [
            "870e34cdb607c741"
        ],
        "uncaught": false,
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ac1a4f512d3e6820",
        "type": "catch",
        "z": "ae965ff4142a1f56",
        "name": "not a json",
        "scope": [
            "a2e4acb052e9eb4e"
        ],
        "uncaught": false,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "870e34cdb607c741"
            ]
        ]
    },
    {
        "id": "a2e4acb052e9eb4e",
        "type": "json",
        "z": "ae965ff4142a1f56",
        "name": "cast json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 780,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8ee5b970ca4330b7",
        "type": "function",
        "z": "ae965ff4142a1f56",
        "name": "error",
        "func": "node.error(\"Key not read: \" + msg.topic, msg);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "da42c0cf6472ad8f",
        "type": "http request",
        "z": "51d46dfb7c36233d",
        "name": "DELETE",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "626481c0b23c27e2"
            ]
        ]
    },
    {
        "id": "91171e12040a0993",
        "type": "template",
        "z": "51d46dfb7c36233d",
        "name": "set msg.url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{db}}}/{{{topic}}}",
        "output": "str",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "da42c0cf6472ad8f"
            ]
        ]
    },
    {
        "id": "1849ed65972311b5",
        "type": "change",
        "z": "51d46dfb7c36233d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "db",
                "pt": "msg",
                "to": "DB_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "91171e12040a0993"
            ]
        ]
    },
    {
        "id": "626481c0b23c27e2",
        "type": "switch",
        "z": "51d46dfb7c36233d",
        "name": "msg.statusCode?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "404",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "338144cc1006946e"
            ],
            [
                "8960c07939b89279"
            ],
            [
                "bd15f0b5b58dc878"
            ]
        ]
    },
    {
        "id": "bd15f0b5b58dc878",
        "type": "function",
        "z": "51d46dfb7c36233d",
        "name": "error",
        "func": "node.error(\"Key not deleted: \" + msg.topic, msg);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "8960c07939b89279",
        "type": "function",
        "z": "51d46dfb7c36233d",
        "name": "warning",
        "func": "node.warn(\"Key not found: \" + msg.topic);\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "820d02750e8a525d",
        "type": "subflow:ae965ff4142a1f56",
        "z": "51d46dfb7c36233d",
        "name": "",
        "env": [],
        "x": 180,
        "y": 240,
        "wires": [
            [
                "29761b0eceea621c"
            ]
        ]
    },
    {
        "id": "29761b0eceea621c",
        "type": "change",
        "z": "51d46dfb7c36233d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stored",
                "pt": "msg",
                "to": "{\"deleted\": payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "1849ed65972311b5"
            ]
        ]
    },
    {
        "id": "ebe85e73ad1e3b36",
        "type": "catch",
        "z": "51d46dfb7c36233d",
        "name": "read key",
        "scope": [
            "820d02750e8a525d"
        ],
        "uncaught": false,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "29761b0eceea621c"
            ]
        ]
    },
    {
        "id": "338144cc1006946e",
        "type": "change",
        "z": "51d46dfb7c36233d",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "stored",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "482f39854fbdd633",
        "type": "http request",
        "z": "670f987126b6d313",
        "name": "GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "0b68eb34250a2242"
            ]
        ]
    },
    {
        "id": "f4d98acce67d7dfe",
        "type": "change",
        "z": "670f987126b6d313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "db",
                "pt": "msg",
                "to": "DB_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "404ae78bdbbc1129"
            ]
        ]
    },
    {
        "id": "404ae78bdbbc1129",
        "type": "template",
        "z": "670f987126b6d313",
        "name": "set msg.url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{db}}}",
        "output": "str",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "482f39854fbdd633"
            ]
        ]
    },
    {
        "id": "bc8ac01dbcb0e5c6",
        "type": "split",
        "z": "670f987126b6d313",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 80,
        "wires": [
            [
                "1bf4291333578a9b"
            ]
        ]
    },
    {
        "id": "b8cb44fbf4aafba3",
        "type": "subflow:ae965ff4142a1f56",
        "z": "670f987126b6d313",
        "name": "",
        "env": [],
        "x": 780,
        "y": 240,
        "wires": [
            [
                "e9b1198993ee8f12"
            ]
        ]
    },
    {
        "id": "1bf4291333578a9b",
        "type": "change",
        "z": "670f987126b6d313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "b8cb44fbf4aafba3"
            ]
        ]
    },
    {
        "id": "e1483d92d7d5dd3a",
        "type": "template",
        "z": "670f987126b6d313",
        "d": true,
        "name": "set msg.url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{db}}}?{\"prefix\":\"\"}",
        "output": "str",
        "x": 370,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "0b68eb34250a2242",
        "type": "switch",
        "z": "670f987126b6d313",
        "name": "msg.statusCode?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "bc8ac01dbcb0e5c6"
            ],
            [
                "ecb030a98d114ee4"
            ]
        ]
    },
    {
        "id": "ecb030a98d114ee4",
        "type": "function",
        "z": "670f987126b6d313",
        "name": "error",
        "func": "node.warn(\"DB \" + msg.stored + \"* keys are empty.\");\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "038d17091101a494",
        "type": "change",
        "z": "670f987126b6d313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"prefix\":topic?topic:\"\"}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "f4d98acce67d7dfe"
            ]
        ]
    },
    {
        "id": "6447741184fe8fd4",
        "type": "catch",
        "z": "670f987126b6d313",
        "name": "read key",
        "scope": [
            "b8cb44fbf4aafba3"
        ],
        "uncaught": false,
        "x": 780,
        "y": 280,
        "wires": [
            [
                "e14e24caeef47be3"
            ]
        ]
    },
    {
        "id": "a53dec06c81f767e",
        "type": "change",
        "z": "670f987126b6d313",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stored",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "038d17091101a494"
            ]
        ]
    },
    {
        "id": "e9b1198993ee8f12",
        "type": "join",
        "z": "670f987126b6d313",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e14e24caeef47be3",
        "type": "function",
        "z": "670f987126b6d313",
        "name": "warning",
        "func": "node.warn(\"DB \" + msg.stored + \"* keys are empty.\");\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 280,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "3b1b215e4802da35",
        "type": "subflow:670f987126b6d313",
        "z": "77b25691e26355cb",
        "name": "",
        "env": [
            {
                "name": "DB_URL",
                "value": "DB_URL",
                "type": "env"
            }
        ],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "ea723d43ea78d4ad"
            ]
        ]
    },
    {
        "id": "1a64c2138329062e",
        "type": "subflow:51d46dfb7c36233d",
        "z": "77b25691e26355cb",
        "name": "",
        "env": [
            {
                "name": "DB_URL",
                "value": "DB_URL",
                "type": "env"
            }
        ],
        "x": 550,
        "y": 80,
        "wires": [
            [
                "d0e580c138d605a4"
            ]
        ]
    },
    {
        "id": "377df8de92415a80",
        "type": "ui_toast",
        "z": "77b25691e26355cb",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "className": "",
        "topic": "Confirmation",
        "name": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "d0f89ba6669c1566"
            ]
        ]
    },
    {
        "id": "d0f89ba6669c1566",
        "type": "switch",
        "z": "77b25691e26355cb",
        "name": "yes?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "3b1b215e4802da35"
            ]
        ]
    },
    {
        "id": "d0e580c138d605a4",
        "type": "join",
        "z": "77b25691e26355cb",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "772e176996905f90",
        "type": "change",
        "z": "77b25691e26355cb",
        "d": true,
        "name": "safer",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2341fb57878d5009",
        "type": "change",
        "z": "77b25691e26355cb",
        "name": "confirm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Drop all Replit DB keys?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "377df8de92415a80"
            ]
        ]
    },
    {
        "id": "ea723d43ea78d4ad",
        "type": "split",
        "z": "77b25691e26355cb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "1a64c2138329062e"
            ]
        ]
    },
    {
        "id": "7249550c1f3e1d2b",
        "type": "function",
        "z": "e956e6dd064811c4",
        "name": "SET key",
        "func": "var db = flow.get(\"db\");\n\nvar key = msg.topic;\nvar value = msg.payload;\n\n// Set a key to a value\ndb.set(key, value).then(() => {\n    node.send(msg);\n});\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// Import the database\n//const replitDatabase = require(\"@replit/database\")\n\n// Create a new database\n//const db = new replitDatabase();\nflow.set(\"db\", new replitDatabase());\n",
        "finalize": "",
        "libs": [
            {
                "var": "replitDatabase",
                "module": "@replit/database"
            }
        ],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b90ff560b71325fe",
        "type": "function",
        "z": "478f6bb31457a2d0",
        "name": "GET key",
        "func": "var db = flow.get(\"db\");\n\nvar key = msg.topic || msg.payload;\n\n// Get a key's value\ndb.get(key).then(value => {\n    msg.payload = value;\n    node.send(msg);\n});\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// Import the database\n//const replitDatabase = require(\"@replit/database\")\n\n// Create a new database\n//const db = new replitDatabase();\nflow.set(\"db\", new replitDatabase());\n",
        "finalize": "",
        "libs": [
            {
                "var": "replitDatabase",
                "module": "@replit/database"
            }
        ],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "286e8111d9f1758c",
        "type": "function",
        "z": "6bef94800244e7e5",
        "name": "DELETE key",
        "func": "var db = flow.get(\"db\");\n\nvar key = msg.topic || msg.payload;\n\n// Delete a key\ndb.delete(key).then(() => {\n    node.send(msg);\n});\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// Import the database\n//const replitDatabase = require(\"@replit/database\")\n\n// Create a new database\n//const db = new replitDatabase();\nflow.set(\"db\", new replitDatabase());\n",
        "finalize": "",
        "libs": [
            {
                "var": "replitDatabase",
                "module": "@replit/database"
            }
        ],
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "63884ffc7eff5098",
        "type": "function",
        "z": "87278472e4564b17",
        "name": "list KEYS",
        "func": "var db = flow.get(\"db\");\n\nvar prefix = msg.prefix || msg.topic || msg.payload;\n\ndb.list(prefix).then(keys => {\n    msg.topic = keys;\n    msg.payload = keys;\n    node.send(msg);\n})\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// Import the database\n//const replitDatabase = require(\"@replit/database\")\n\n// Create a new database\n//const db = new replitDatabase();\nflow.set(\"db\", new replitDatabase());\n",
        "finalize": "",
        "libs": [
            {
                "var": "replitDatabase",
                "module": "@replit/database"
            }
        ],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d68a55ac3f7900b3",
        "type": "split",
        "z": "86b72b03d3957ef8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 315,
        "y": 80,
        "wires": [
            [
                "d0d882000c250b2e"
            ]
        ],
        "l": false
    },
    {
        "id": "f9c7119f65ba54df",
        "type": "join",
        "z": "86b72b03d3957ef8",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 875,
        "y": 80,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "1b22890e77e6959d",
        "type": "subflow:478f6bb31457a2d0",
        "z": "86b72b03d3957ef8",
        "name": "",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "1047ccf1f876ea1b"
            ]
        ]
    },
    {
        "id": "7365d80b735186f2",
        "type": "subflow:87278472e4564b17",
        "z": "86b72b03d3957ef8",
        "name": "",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "d68a55ac3f7900b3"
            ]
        ]
    },
    {
        "id": "d0d882000c250b2e",
        "type": "change",
        "z": "86b72b03d3957ef8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "1b22890e77e6959d"
            ]
        ]
    },
    {
        "id": "1047ccf1f876ea1b",
        "type": "function",
        "z": "86b72b03d3957ef8",
        "name": "p = {t: p}",
        "func": "var x = {};\nx[msg.topic] = msg.payload;\nmsg.payload = x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 80,
        "wires": [
            [
                "f9c7119f65ba54df"
            ]
        ]
    },
    {
        "id": "5162f71705fbda85",
        "type": "split",
        "z": "21c789ed7792f7ee",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 315,
        "y": 80,
        "wires": [
            [
                "ee069f69e2c5fc50"
            ]
        ],
        "l": false
    },
    {
        "id": "13b3957583d00a8c",
        "type": "join",
        "z": "21c789ed7792f7ee",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 735,
        "y": 80,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "81dcfc00a51802f1",
        "type": "subflow:6bef94800244e7e5",
        "z": "21c789ed7792f7ee",
        "name": "",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "13b3957583d00a8c"
            ]
        ]
    },
    {
        "id": "9d740d53c50a4315",
        "type": "subflow:87278472e4564b17",
        "z": "21c789ed7792f7ee",
        "name": "",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "5162f71705fbda85"
            ]
        ]
    },
    {
        "id": "ee069f69e2c5fc50",
        "type": "change",
        "z": "21c789ed7792f7ee",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "81dcfc00a51802f1"
            ]
        ]
    },
    {
        "id": "178a23a905c89e8b",
        "type": "http in",
        "z": "79404673d12941f2",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "f208b6fae526632b"
            ]
        ]
    },
    {
        "id": "f208b6fae526632b",
        "type": "change",
        "z": "79404673d12941f2",
        "name": "random",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "1b037be4459d9117",
                "d8e7a291a1052f64"
            ]
        ]
    },
    {
        "id": "1b037be4459d9117",
        "type": "http response",
        "z": "79404673d12941f2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "8b7a1d2285638fa0",
        "type": "http request",
        "z": "79404673d12941f2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://nodered.zeldalegends.repl.co/test",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "8cff6715d7c54bef",
                "6109850d035f29bf"
            ]
        ]
    },
    {
        "id": "e4efd622be01b5ab",
        "type": "inject",
        "z": "79404673d12941f2",
        "name": "keep alive",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "8b7a1d2285638fa0"
            ]
        ]
    },
    {
        "id": "8cff6715d7c54bef",
        "type": "debug",
        "z": "79404673d12941f2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "statusCode",
        "statusType": "msg",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "e47a66720c79fc80",
        "type": "file",
        "z": "79404673d12941f2",
        "name": "",
        "filename": "activations.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "e12d70de8acfdc34"
            ]
        ]
    },
    {
        "id": "6109850d035f29bf",
        "type": "change",
        "z": "79404673d12941f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring($replace($now(),\"T\",\" \"),0,19) & \"\\t\" & statusCode & \"\\t\" & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "e47a66720c79fc80"
            ]
        ]
    },
    {
        "id": "d8e7a291a1052f64",
        "type": "ui_chart",
        "z": "79404673d12941f2",
        "name": "",
        "group": "771697455c511c76",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Last value: {{msg.payload| number:2}}",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "df6c6a1f801e8577",
        "type": "ui_text",
        "z": "79404673d12941f2",
        "group": "771697455c511c76",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last update",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "e12d70de8acfdc34",
        "type": "change",
        "z": "79404673d12941f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring(payload,0,24)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "df6c6a1f801e8577"
            ]
        ]
    },
    {
        "id": "be188377ee742387",
        "type": "file",
        "z": "79404673d12941f2",
        "name": "",
        "filename": "last.restart",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d92f75f28c1e620a",
        "type": "ui_button",
        "z": "79404673d12941f2",
        "name": "",
        "group": "771697455c511c76",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 200,
        "wires": [
            [
                "be188377ee742387"
            ]
        ]
    },
    {
        "id": "1fd9e9c2f0e0cecf",
        "type": "ui_text",
        "z": "79404673d12941f2",
        "group": "771697455c511c76",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RAM",
        "format": "{{msg.payload|number:2}} / {{msg.topic|number:2}} GB",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "526e89c6c604f442",
        "type": "exec",
        "z": "79404673d12941f2",
        "command": "node -e \"var os=require('os');console.log((os.totalmem-os.freemem)/1024/1024/1024)\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "1fd9e9c2f0e0cecf",
                "b66629b138e2513a"
            ],
            [
                "1fd9e9c2f0e0cecf",
                "b66629b138e2513a"
            ],
            []
        ]
    },
    {
        "id": "fcac57a5b94a1e0d",
        "type": "inject",
        "z": "79404673d12941f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "2203d69cf4474316"
            ]
        ]
    },
    {
        "id": "c6410f9bbd6d2faa",
        "type": "comment",
        "z": "79404673d12941f2",
        "name": "UptimeRobot",
        "info": "https://uptimerobot.com/dashboard\n<br>\n(gamesup|1-6)",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "b66629b138e2513a",
        "type": "debug",
        "z": "79404673d12941f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "2203d69cf4474316",
        "type": "exec",
        "z": "79404673d12941f2",
        "command": "node -e \"console.log(require('os').totalmem/1024/1024/1024)\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "33e18a4eb69616de"
            ],
            [
                "33e18a4eb69616de"
            ],
            []
        ]
    },
    {
        "id": "33e18a4eb69616de",
        "type": "change",
        "z": "79404673d12941f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "526e89c6c604f442"
            ]
        ]
    },
    {
        "id": "e5721e5199c3c77a",
        "type": "ui_chart",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "group": "9ee91c1b.c2b67",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "{{name}}",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "229a5718139621a6",
        "type": "http in",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "url": "/os",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "4a547f9d539ad303"
            ]
        ]
    },
    {
        "id": "cd1976cfef23f8e7",
        "type": "http response",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "4cc5fe58b2fd7841",
        "type": "http request",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{link}}}/os",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "61bb4ad981f0f35c",
                "da7dd6709c23e99d"
            ]
        ]
    },
    {
        "id": "401360e871c5fc0c",
        "type": "template",
        "z": "9c023d7bca1dcba3",
        "name": "command list",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"node_ver\": \"node -v\",\n\"npm_ver\": \"npm -v\",\n\"arch\": \"node -e \\\"console.log(require('os').arch())\\\"\",\n\"n_cpus\": \"node -e \\\"console.log(require('os').cpus().length)\\\"\",\n\"cpu\": \"node -e \\\"console.log(require('os').cpus()[0].model)\\\"\",\n\"cpus\": \"node -e \\\"console.log(require('os').cpus())\\\"\",\n\"endianness\": \"node -e \\\"console.log(require('os').endianness())\\\"\",\n\"freemem\": \"node -e \\\"console.log(require('os').freemem()/1024/1024/1024)\\\"\",\n\"homedir\": \"node -e \\\"console.log(require('os').homedir())\\\"\",\n\"hostname\": \"node -e \\\"console.log(require('os').hostname())\\\"\",\n\"ip\": \"node -e \\\"console.log(require('os').networkInterfaces().eth0[0]).address\\\"\",\n\"network\": \"node -e \\\"console.log(require('os').networkInterfaces())\\\"\",\n\"platform\": \"node -e \\\"console.log(require('os').platform())\\\"\",\n\"release\": \"node -e \\\"console.log(require('os').release())\\\"\",\n\"totalmem\": \"node -e \\\"console.log(require('os').totalmem()/1024/1024/1024)\\\"\",\n\"uptime\": \"node -e \\\"console.log(require('os').uptime()/60/60)\\\"\",\n\"username\": \"node -e \\\"console.log(require('os').userInfo().username)\\\"\",\n\"uid\": \"node -e \\\"console.log(require('os').userInfo().uid)\\\"\",\n\"gid\": \"node -e \\\"console.log(require('os').userInfo().gid)\\\"\",\n\"shell\": \"node -e \\\"console.log(require('os').userInfo().shell)\\\"\",\n\"userInfo\": \"node -e \\\"console.log(require('os').userInfo())\\\"\",\n\"type\": \"node -e \\\"console.log(require('os').type())\\\"\",\n\"os_ver\": \"node -e \\\"console.log(require('os').version())\\\"\"}",
        "output": "json",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "426b30b91abaad15"
            ]
        ]
    },
    {
        "id": "246667bb76ea2a5f",
        "type": "exec",
        "z": "9c023d7bca1dcba3",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "5297a276c5d64eb3"
            ],
            [
                "5297a276c5d64eb3"
            ],
            []
        ]
    },
    {
        "id": "426b30b91abaad15",
        "type": "split",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 910,
        "y": 260,
        "wires": [
            [
                "246667bb76ea2a5f"
            ]
        ]
    },
    {
        "id": "89da744404a1f88a",
        "type": "join",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "cd1976cfef23f8e7",
                "2007fc8b12049d15"
            ]
        ]
    },
    {
        "id": "5297a276c5d64eb3",
        "type": "function",
        "z": "9c023d7bca1dcba3",
        "name": "clear spaces",
        "func": "msg.payload = msg.payload.replace(/\\n/g, \"\").replace(/ +/g, \" \")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "89da744404a1f88a"
            ]
        ]
    },
    {
        "id": "ac4b8a6d2964a521",
        "type": "change",
        "z": "9c023d7bca1dcba3",
        "name": "update Atlas",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "{\"name\": name}",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "name",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "link",
                "pt": "msg",
                "to": "payload.link",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "$fromMillis(time)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "73195a6035ed4d9a"
            ]
        ]
    },
    {
        "id": "61bb4ad981f0f35c",
        "type": "change",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$fromMillis(time, \"[Y0001]-[M01]-[D01] [H01]:[m01]:[s01] \", \"+0100\") & \"\\\\t\" & statusCode & \"\\\\ttest\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "b9e305ca4e49cf41"
            ]
        ]
    },
    {
        "id": "b9e305ca4e49cf41",
        "type": "file",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "filename": "activations.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 740,
        "y": 180,
        "wires": [
            [
                "fae2ca0dbb7b8653"
            ]
        ]
    },
    {
        "id": "fae2ca0dbb7b8653",
        "type": "ui_text",
        "z": "9c023d7bca1dcba3",
        "group": "9ee91c1b.c2b67",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latest",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "8dfb3ae1ef57275f",
        "type": "inject",
        "z": "9c023d7bca1dcba3",
        "name": "every 5 min",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "*/5 0-23 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Replit",
        "payload": "https://nodered.zeldalegends.repl.co",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d2f2fce0127e2143",
                "049345050ca83074"
            ]
        ]
    },
    {
        "id": "d2f2fce0127e2143",
        "type": "change",
        "z": "9c023d7bca1dcba3",
        "name": "set flow vars",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "link",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4a547f9d539ad303",
        "type": "change",
        "z": "9c023d7bca1dcba3",
        "name": "get flow vars",
        "rules": [
            {
                "t": "set",
                "p": "link",
                "pt": "msg",
                "to": "link",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "name",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "401360e871c5fc0c"
            ]
        ]
    },
    {
        "id": "da7dd6709c23e99d",
        "type": "change",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "statusCode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "e5721e5199c3c77a"
            ]
        ]
    },
    {
        "id": "049345050ca83074",
        "type": "change",
        "z": "9c023d7bca1dcba3",
        "name": "get flow vars",
        "rules": [
            {
                "t": "set",
                "p": "link",
                "pt": "msg",
                "to": "link",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "name",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "4cc5fe58b2fd7841"
            ]
        ]
    },
    {
        "id": "2007fc8b12049d15",
        "type": "delay",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "ac4b8a6d2964a521"
            ]
        ]
    },
    {
        "id": "914cd8bcfa4c6e40",
        "type": "comment",
        "z": "9c023d7bca1dcba3",
        "name": "Find documents",
        "info": "\n",
        "x": 100,
        "y": 460,
        "wires": []
    },
    {
        "id": "2d56d76a53c97e9d",
        "type": "inject",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Replit\"}",
        "payloadType": "json",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "8b3820b8551d1a01"
            ]
        ]
    },
    {
        "id": "73195a6035ed4d9a",
        "type": "mongodb out",
        "z": "9c023d7bca1dcba3",
        "mongodb": "2bb8dfa0.48854",
        "name": "",
        "collection": "cloud",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "8b3820b8551d1a01",
        "type": "mongodb in",
        "z": "9c023d7bca1dcba3",
        "mongodb": "2bb8dfa0.48854",
        "name": "",
        "collection": "cloud",
        "operation": "find",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "daed08f902c437e9"
            ]
        ]
    },
    {
        "id": "adc197fde1fbe08e",
        "type": "inject",
        "z": "9c023d7bca1dcba3",
        "name": "dump",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "8b3820b8551d1a01"
            ]
        ]
    },
    {
        "id": "daed08f902c437e9",
        "type": "debug",
        "z": "9c023d7bca1dcba3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "99f1453bf4a4fa6e",
        "type": "comment",
        "z": "9c023d7bca1dcba3",
        "name": "MongoDB Atlas",
        "info": "https://cloud.mongodb.com/\n<br>\n(gamesup / mongosup)\n${ATLAS_USERNAME}\n${ATLAS_PASSWORD}",
        "x": 900,
        "y": 40,
        "wires": []
    },
    {
        "id": "4354bfabaf368323",
        "type": "comment",
        "z": "af18fc3a6ea20002",
        "name": "Telegram token",
        "info": "https://web.telegram.org/\n<br>\n${TELEGRAM_TOKEN}",
        "x": 880,
        "y": 40,
        "wires": []
    },
    {
        "id": "8017e7207dacac25",
        "type": "inject",
        "z": "af18fc3a6ea20002",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "send",
        "payload": "test",
        "payloadType": "str",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "3c8c9a377c666342",
                "174222b4865f1815"
            ]
        ]
    },
    {
        "id": "3c8c9a377c666342",
        "type": "debug",
        "z": "af18fc3a6ea20002",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "cf284361e24d2ab0",
        "type": "telegrambot-command",
        "z": "af18fc3a6ea20002",
        "name": "/start",
        "bot": "be328a48cb9e1cbf",
        "command": "/start",
        "commandType": "str",
        "commandCase": false,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "c48f7e7604b64b48"
            ]
        ]
    },
    {
        "id": "7138d8cb7837639a",
        "type": "telegrambot-notify",
        "z": "af18fc3a6ea20002",
        "name": "",
        "bot": "be328a48cb9e1cbf",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "c48f7e7604b64b48",
        "type": "template",
        "z": "af18fc3a6ea20002",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Editor: https://nodered.zeldalegends.repl.co/editor\nDashboard: https://nodered.zeldalegends.repl.co/ui\nHomepage: https://nodered.zeldalegends.repl.co\nReplit: https://replit.com/@zeldalegends/nodered",
        "output": "str",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "7138d8cb7837639a"
            ]
        ]
    },
    {
        "id": "174222b4865f1815",
        "type": "telegrambot-notify",
        "z": "af18fc3a6ea20002",
        "name": "",
        "bot": "be328a48cb9e1cbf",
        "chatId": "1269409529",
        "message": "",
        "parseMode": "",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "ced80261c7808b0f",
        "type": "ui_button",
        "z": "111b52d7f72dcde4",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "#5CFEF2",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "topicType": "str",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "be8f219082382d87"
            ]
        ]
    },
    {
        "id": "31aa125dbda0cefa",
        "type": "ui_button",
        "z": "111b52d7f72dcde4",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "#f31100",
        "className": "",
        "icon": "delete",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "f7cd5aa1b1cc81c8"
            ]
        ]
    },
    {
        "id": "f7cd5aa1b1cc81c8",
        "type": "function",
        "z": "111b52d7f72dcde4",
        "name": "Get filepath",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"filepath\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename === undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0] !== \".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "0b135f82c4167c37"
            ]
        ]
    },
    {
        "id": "9abed70c1a84e163",
        "type": "file",
        "z": "111b52d7f72dcde4",
        "name": "Delete file",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 920,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6d1fb9900e550934",
        "type": "http in",
        "z": "111b52d7f72dcde4",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "f4845b5f01b3459e"
            ]
        ]
    },
    {
        "id": "4426891007434b2f",
        "type": "http response",
        "z": "111b52d7f72dcde4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "f4845b5f01b3459e",
        "type": "function",
        "z": "111b52d7f72dcde4",
        "name": "Extract file",
        "func": "msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 560,
        "wires": [
            [
                "61f9b4a564ad6ffc"
            ]
        ],
        "outputLabels": [
            "Folder selected"
        ]
    },
    {
        "id": "61f9b4a564ad6ffc",
        "type": "file in",
        "z": "111b52d7f72dcde4",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "301011cc86b7bb5a"
            ]
        ]
    },
    {
        "id": "301011cc86b7bb5a",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "set headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "text/csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "contentdisposition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "4426891007434b2f"
            ]
        ]
    },
    {
        "id": "0c138e847437e572",
        "type": "ui_button",
        "z": "111b52d7f72dcde4",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Graph",
        "tooltip": "",
        "color": "#FFFE00",
        "bgcolor": "",
        "className": "",
        "icon": "show_chart",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "49f1528d3aa277ab"
            ]
        ]
    },
    {
        "id": "49f1528d3aa277ab",
        "type": "function",
        "z": "111b52d7f72dcde4",
        "name": "Get filepath",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"filepath\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename === undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0] !== \".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 500,
        "wires": [
            [
                "e04a6b965975de4c"
            ]
        ]
    },
    {
        "id": "e04a6b965975de4c",
        "type": "file in",
        "z": "111b52d7f72dcde4",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "3d4282e9e0897475"
            ]
        ]
    },
    {
        "id": "3d4282e9e0897475",
        "type": "csv",
        "z": "111b52d7f72dcde4",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "ac74a4bce6617ee6"
            ]
        ]
    },
    {
        "id": "ac74a4bce6617ee6",
        "type": "function",
        "z": "111b52d7f72dcde4",
        "name": "Plot",
        "func": "var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\n\n/*\nvar pressure = [];\nvar out2 = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    pressure.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].pressure});\n    out2.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].out2*200});\n\n}\nchart[0].data.push(pressure);\nchart[0].data.push(out2);\n*/\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"time\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) {\n       chart[0].data[i].push({\"x\":msg.payload[j].time, \"y\":msg.payload[j][chart[0].series[i]]});\n   } \n}\n\n\n\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 500,
        "wires": [
            [
                "fa1750f1405d7cfd",
                "2335365d4a57db45"
            ]
        ]
    },
    {
        "id": "fa1750f1405d7cfd",
        "type": "ui_chart",
        "z": "111b52d7f72dcde4",
        "name": "desktop",
        "group": "ddb72df8452ba7d7",
        "order": 1,
        "width": 28,
        "height": 6,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "36e25e118ac16fe2",
        "type": "ui_toast",
        "z": "111b52d7f72dcde4",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "e7b0b9da37e7d796"
            ]
        ]
    },
    {
        "id": "0b135f82c4167c37",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "set msg",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Confirmation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Delete \" & filename & \"?\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "36e25e118ac16fe2"
            ]
        ]
    },
    {
        "id": "e7b0b9da37e7d796",
        "type": "switch",
        "z": "111b52d7f72dcde4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 440,
        "wires": [
            [
                "9abed70c1a84e163"
            ]
        ]
    },
    {
        "id": "be8f219082382d87",
        "type": "function",
        "z": "111b52d7f72dcde4",
        "name": "Set folder",
        "func": "let folder = flow.get(\"folder\") || \"/\";\nflow.set(\"folder\", folder);\n\nlet hidden = flow.get(\"hidden\") || false;\nflow.set(\"hidden\", hidden);\n\nif (msg.topic===\"parent\") {\n    var path = folder.split('/');\n    path.pop();\n    folder = path.join('/'); \n    if (folder===\"\") folder=\"/\";\n    flow.set(\"folder\", folder);\n}\n\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    flow.set(\"folder\", folder);\n}\n\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    flow.set(\"hidden\", hidden);\n}\n\n//if (msg.topic===\"refresh\") {\n//}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "956b362d3c90f8d8",
                "dd1cc284bca44135"
            ]
        ]
    },
    {
        "id": "64d7b8680fb5a101",
        "type": "ui_button",
        "z": "111b52d7f72dcde4",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Parent",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_upwards",
        "payload": "",
        "payloadType": "str",
        "topic": "parent",
        "topicType": "str",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "be8f219082382d87"
            ]
        ]
    },
    {
        "id": "e030d0f2300f0ba1",
        "type": "ui_button",
        "z": "111b52d7f72dcde4",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "#51aa00",
        "className": "",
        "icon": "home",
        "payload": "home",
        "payloadType": "flow",
        "topic": "change",
        "topicType": "str",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "be8f219082382d87"
            ]
        ]
    },
    {
        "id": "13d5391a3c7fd608",
        "type": "ui_switch",
        "z": "111b52d7f72dcde4",
        "name": "",
        "label": "Hidden",
        "tooltip": "Show hidden files or not",
        "group": "160e81fb.f1c86e",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "hidden",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "check_box",
        "oncolor": "#000000",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check_box_outline_blank",
        "offcolor": "#000000",
        "animate": true,
        "className": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "be8f219082382d87"
            ]
        ]
    },
    {
        "id": "2335365d4a57db45",
        "type": "ui_chart",
        "z": "111b52d7f72dcde4",
        "name": "mobile",
        "group": "af2fe563cfd2cfa6",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "85090a46f8fa54c4",
        "type": "ui_button",
        "z": "111b52d7f72dcde4",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Desktop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "computer",
        "payload": "{\"group\":{\"show\":[\"Files_Desktop\"],\"hide\":[\"Files_Mobile\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "973fa9e08c8aee33"
            ]
        ]
    },
    {
        "id": "973fa9e08c8aee33",
        "type": "ui_ui_control",
        "z": "111b52d7f72dcde4",
        "name": "",
        "events": "all",
        "x": 460,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b6d2651503377b9d",
        "type": "ui_button",
        "z": "111b52d7f72dcde4",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Mobile",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "smartphone",
        "payload": "{\"group\":{\"show\":[\"Files_Mobile\"],\"hide\":[\"Files_Desktop\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "f740fdf5197ffcf3"
            ]
        ]
    },
    {
        "id": "f740fdf5197ffcf3",
        "type": "ui_ui_control",
        "z": "111b52d7f72dcde4",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8acb2b7c94f075e9",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "change",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 240,
        "wires": [
            [
                "be8f219082382d87"
            ]
        ]
    },
    {
        "id": "5f1be4ecc1b1bfe1",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "Set filepath",
        "rules": [
            {
                "t": "set",
                "p": "filepath",
                "pt": "flow",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 120,
        "wires": [
            [
                "bdd0d955d05693da"
            ]
        ]
    },
    {
        "id": "956b362d3c90f8d8",
        "type": "fs-file-lister",
        "z": "111b52d7f72dcde4",
        "name": "",
        "start": "data",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "both",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "0f7a8e6438a00194"
            ]
        ]
    },
    {
        "id": "0f7a8e6438a00194",
        "type": "function",
        "z": "111b52d7f72dcde4",
        "name": "table data",
        "func": "for (var i = 0; i < msg.payload.length; i++) {\n//  msg.payload[i].stat.size = msg.payload[i].stat.size / 1024;\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n//  msg.payload[i].fname = (msg.payload[i].stat.isFile?\"\":\"[\") + msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+(msg.payload[i].stat.isFile?\"\":\"]\");\n    msg.payload[i].fname = (msg.payload[i].stat.isFile ? \"\" : \"<b>[\") + msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '') + (msg.payload[i].stat.isFile ? \"\" : \"]</b>\");\n//  msg.payload[i].link = msg.payload[i].stat.isDirectory ? \"\" : \"/download?filename=\" + msg.payload[i].name;\n    msg.payload[i].link = msg.payload[i].stat.isDirectory ? \"\" : \"<a href=\\\"/download?filename=\" + msg.payload[i].name + \"\\\"><img src=\\\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACf0lEQVR42mNkwAE0ApLF/wqIKwOZ/5k/vLxzY8Pc19jUMaILGPdsjfik4VDy5ieD0X+oPBPQEBF2htN8Nw50nynxXoPVADEzVw6himVLX/znCmLAAyQZv6142xEV/+rU7l8oBiitfrn2HRMPXDPQVgZWJgj797//DP+QHCv878uyu6Hi0XADJKuXR3438luGbJO7GAPDbP2/YHbqsc8MO7/wAVUzweW5zm0KetYauR5sgPCiJ2f/cgsa4TIg7fA7hl1vWRj+cfIDnQYxhPnL22Nv4+WsGZnldSR4+048AxrPCHOSuzgDg6nAf4ZUuX9gxbOvfWI49/4fw643TAy/OaCG/P//73ORmSgji56TDU/95sPItjuLMjDM1PvLwAZ18a+//xmyj31g2PcWKMDMzPCbnRfsnS/1nqaMzFrWtrzNuw6hhzbMEKBNYM37gZoZmRghbmRiZvjFxs3wqcrZjJFRQEKab86dx4yMjIyYhvxnYPnyjmH/G0awZogSKM3I+O9FmpY4WISn68h5FmVDfZAmTmYGBjvh/3BDmP7+YWD++xOs6cCL3wx/gBEMYv++dfrU63pfc7CtrFZB8dxFixaAwpGf5R9DtsRnRKwDxRih9NQ7fxl+MjCDDXjbEx/x48yOlTB1zFxFi9azWQf7gvzM+O8vA8uvL+DEBFIMcTHC+d8Or177fmpOGFDgH8LfrOx8XDkzl7Jah/iAFf//x8D2+xsDM5CGRTBU8/r3MwrjGP7+/oItM7GymvvFs/sX5DGrmWqDgo7t7w8Glr+///2+ffrS501TJ/44u3MJUN0fnLkRCtgYuQXkmMQVlBj+A93y8v7d/98+PgElCXSFAKXm39j74So1AAAAAElFTkSuQmCC\\\" /></a>\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "6479c9674ee4c649"
            ]
        ]
    },
    {
        "id": "6479c9674ee4c649",
        "type": "sort",
        "z": "111b52d7f72dcde4",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "$lowercase(fname)\t",
        "msgKeyType": "jsonata",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "6de7a91d24be29e1",
                "50a31fdded68fd98"
            ]
        ]
    },
    {
        "id": "9d3c9ab668d4d29d",
        "type": "switch",
        "z": "111b52d7f72dcde4",
        "name": "is file?",
        "property": "payload.stat.isFile",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "5f1be4ecc1b1bfe1",
                "2015d6492579c3e6"
            ],
            [
                "8acb2b7c94f075e9"
            ]
        ]
    },
    {
        "id": "0dbef6831f2ca330",
        "type": "yaml",
        "z": "111b52d7f72dcde4",
        "property": "payload",
        "name": "",
        "x": 770,
        "y": 80,
        "wires": [
            [
                "ffa3ba810c0b280e"
            ]
        ]
    },
    {
        "id": "ffa3ba810c0b280e",
        "type": "ui_template",
        "z": "111b52d7f72dcde4",
        "group": "26e8fe8026c92abb",
        "name": "Properties",
        "order": 1,
        "width": 6,
        "height": 4,
        "format": "<textarea rows=\"21\">{{msg.payload}}</textarea>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "38da03d9810a48c7",
        "type": "inject",
        "z": "111b52d7f72dcde4",
        "name": "startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ui_control",
                "v": "{\"tabulator\":{\"selectable\":1}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "50a31fdded68fd98",
                "85090a46f8fa54c4",
                "5295aac0d50e4afa"
            ]
        ]
    },
    {
        "id": "bdd0d955d05693da",
        "type": "file in",
        "z": "111b52d7f72dcde4",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "062e2738832b5754"
            ]
        ]
    },
    {
        "id": "05802030cf171e1a",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "clean",
        "rules": [
            {
                "t": "delete",
                "p": "payload.link",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.fname",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "0dbef6831f2ca330"
            ]
        ]
    },
    {
        "id": "83fba8629d1025e7",
        "type": "ui_chart",
        "z": "111b52d7f72dcde4",
        "name": "",
        "group": "26e8fe8026c92abb",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "File sizes",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5be20cfc9f21ed75",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "chart data",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.stat.size",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 20,
        "wires": [
            [
                "83fba8629d1025e7"
            ]
        ]
    },
    {
        "id": "6de7a91d24be29e1",
        "type": "split",
        "z": "111b52d7f72dcde4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 20,
        "wires": [
            [
                "5be20cfc9f21ed75"
            ]
        ]
    },
    {
        "id": "50a31fdded68fd98",
        "type": "ui_table",
        "z": "111b52d7f72dcde4",
        "group": "160e81fb.f1c86e",
        "name": "",
        "order": 10,
        "width": 16,
        "height": 10,
        "columns": [
            {
                "field": "fname",
                "title": "Name",
                "width": "55%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "stat.size",
                "title": "Size",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "stat.created",
                "title": "Created",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "stat.changed",
                "title": "Changed",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "link",
                "title": "",
                "width": "1%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "9d3c9ab668d4d29d",
                "05802030cf171e1a"
            ]
        ]
    },
    {
        "id": "fcf7854b289d6e1f",
        "type": "watch-directory",
        "z": "111b52d7f72dcde4",
        "folder": "folder",
        "folderType": "flow",
        "recursive": 0,
        "typeEvent": "create",
        "ignoreInitial": true,
        "ignoredFiles": "",
        "ignoredFilesType": "re",
        "name": "",
        "x": 70,
        "y": 20,
        "wires": [
            [
                "ced80261c7808b0f"
            ]
        ]
    },
    {
        "id": "a183a644e36706dd",
        "type": "watch-directory",
        "z": "111b52d7f72dcde4",
        "folder": "folder",
        "folderType": "flow",
        "recursive": 0,
        "typeEvent": "update",
        "ignoreInitial": true,
        "ignoredFiles": "",
        "ignoredFilesType": "re",
        "name": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "ced80261c7808b0f"
            ]
        ]
    },
    {
        "id": "52b21db60bb151fa",
        "type": "watch-directory",
        "z": "111b52d7f72dcde4",
        "folder": "folder",
        "folderType": "flow",
        "recursive": 0,
        "typeEvent": "delete",
        "ignoreInitial": true,
        "ignoredFiles": "",
        "ignoredFilesType": "re",
        "name": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "ced80261c7808b0f"
            ]
        ]
    },
    {
        "id": "6ae5b3d9a2876e46",
        "type": "ui_form",
        "z": "111b52d7f72dcde4",
        "name": "Editor",
        "label": "",
        "group": "4128a70510a0cd4e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "File name",
                "value": "filename",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "content",
                "type": "multiline",
                "required": true,
                "rows": 9
            }
        ],
        "formValue": {
            "filename": "",
            "content": ""
        },
        "payload": "",
        "submit": "Save",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 930,
        "y": 240,
        "wires": [
            [
                "d2ca8a35648bd4e1"
            ]
        ]
    },
    {
        "id": "062e2738832b5754",
        "type": "function",
        "z": "111b52d7f72dcde4",
        "name": "form data",
        "func": "var cloned = RED.util.cloneMessage(msg);\nvar formdata = {payload:{}};\nformdata.payload.filename = cloned.filename;\nformdata.payload.content = cloned.payload;\nreturn formdata;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 180,
        "wires": [
            [
                "6ae5b3d9a2876e46"
            ]
        ]
    },
    {
        "id": "d2ca8a35648bd4e1",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "set msg",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Confirmation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Save \" & filename & \"?\"",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "payload.filename",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.content",
                "pt": "msg",
                "to": "content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "15484770aeb98dda"
            ]
        ]
    },
    {
        "id": "15484770aeb98dda",
        "type": "ui_toast",
        "z": "111b52d7f72dcde4",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "93bafe35fa99e065"
            ]
        ]
    },
    {
        "id": "93bafe35fa99e065",
        "type": "switch",
        "z": "111b52d7f72dcde4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 320,
        "wires": [
            [
                "0aa9d99349b3ad86"
            ]
        ]
    },
    {
        "id": "bc6d7e53f170bd27",
        "type": "file",
        "z": "111b52d7f72dcde4",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 920,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0aa9d99349b3ad86",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "content",
        "rules": [
            {
                "t": "move",
                "p": "content",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 320,
        "wires": [
            [
                "bc6d7e53f170bd27"
            ]
        ]
    },
    {
        "id": "f463529cb3fb72b7",
        "type": "ui_upload",
        "z": "111b52d7f72dcde4",
        "group": "26e8fe8026c92abb",
        "title": "File upload",
        "name": "",
        "order": 2,
        "width": 6,
        "height": 1,
        "chunk": 256,
        "transfer": "binary",
        "x": 610,
        "y": 20,
        "wires": [
            [
                "876cddb7e1f66bbe"
            ]
        ]
    },
    {
        "id": "5295aac0d50e4afa",
        "type": "exec",
        "z": "111b52d7f72dcde4",
        "command": "pwd",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "3334e9a10fe0ac84"
            ],
            [],
            []
        ]
    },
    {
        "id": "3334e9a10fe0ac84",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "Set home",
        "rules": [
            {
                "t": "set",
                "p": "home",
                "pt": "flow",
                "to": "$trim(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "e030d0f2300f0ba1"
            ]
        ]
    },
    {
        "id": "876cddb7e1f66bbe",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "Get folder",
        "rules": [
            {
                "t": "set",
                "p": "path",
                "pt": "msg",
                "to": "folder",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "path & \"/\" & file.name",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 20,
        "wires": [
            [
                "7ff8bfc3a49af168"
            ]
        ]
    },
    {
        "id": "2015d6492579c3e6",
        "type": "ui_text",
        "z": "111b52d7f72dcde4",
        "group": "160e81fb.f1c86e",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Path:",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "className": "",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "7ff8bfc3a49af168",
        "type": "file",
        "z": "111b52d7f72dcde4",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 920,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "dd1cc284bca44135",
        "type": "change",
        "z": "111b52d7f72dcde4",
        "name": "is folder",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.start",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "2015d6492579c3e6"
            ]
        ]
    },
    {
        "id": "4820b95cede7b170",
        "type": "comment",
        "z": "111b52d7f72dcde4",
        "name": " Note",
        "info": "It uses a custom node for directory watch\ntaken from [GitHub](https://github.com/fatoldsun00/node-red-contrib-watchdirectory).",
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "a6efc5b8c5997fda",
        "type": "subflow:ae965ff4142a1f56",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "env": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "24be5cac09f74d7d"
            ]
        ]
    },
    {
        "id": "83dcd63a5961f1e5",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "hello world",
        "payloadType": "str",
        "x": 180,
        "y": 20,
        "wires": [
            [
                "c67790c7cfdb39fb"
            ]
        ]
    },
    {
        "id": "c67790c7cfdb39fb",
        "type": "subflow:bd4cee0543666609",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "env": [],
        "x": 440,
        "y": 60,
        "wires": [
            [
                "24be5cac09f74d7d"
            ]
        ]
    },
    {
        "id": "5bb3a83f3388c065",
        "type": "comment",
        "z": "c8673a58c7a8b6d4",
        "name": "Replit Database FAQ",
        "info": "[Replit Database FAQ](https://docs.replit.com/hosting/database-faq)\n\n<h5 id=\"set\">Set</h5>\n<pre><code>curl <span class=\"hljs-variable\">$REPLIT_DB_URL</span> -d &#x27;<span class=\"hljs-variable\">&lt;key&gt;</span>=<span class=\"hljs-variable\">&lt;value&gt;</span>&#x27;</code></pre><p>If your key and value don&#39;t use any unsafe characters, you can use\nan alternative version:</p>\n<pre><code>curl -XPOST <span class=\"hljs-variable\">$REPLIT_DB_URL</span>/<span class=\"hljs-variable\">&lt;key&gt;</span>=<span class=\"hljs-variable\">&lt;value&gt;</span></code></pre><h5 id=\"get\">Get</h5>\n<pre><code>curl <span class=\"hljs-variable\">$REPLIT_DB_URL</span>/<span class=\"hljs-variable\">&lt;key&gt;</span></code></pre><h5 id=\"delete\">Delete</h5>\n<pre><code>curl -XDELETE <span class=\"hljs-variable\">$REPLIT_DB_URL</span>/<span class=\"hljs-variable\">&lt;key&gt;</span></code></pre><p><code>Delete</code> returns status code 204 if the key was deleted or 404 if the key did not exist.</p>\n<h5 id=\"list\">List</h5>\n<pre><code>curl <span class=\"hljs-variable\">$REPLIT_DB_URL</span> --<span class=\"hljs-builtin-name\">get</span> -d <span class=\"hljs-string\">&#x27;prefix=&lt;key&gt;&#x27;</span></code></pre><p>or</p>\n<pre><code><span class=\"hljs-built_in\">curl</span> <span class=\"hljs-string\">&quot;<span class=\"hljs-variable\">$REPLIT_DB_URL</span>?prefix=&lt;key&gt;&quot;</span></code></pre><p>The returned keys will be separated by newlines.</p>\n<p>Listing also takes a query parameter: <code>encode=true</code>. If set, the returned keys will be URL encoded. This lets you safely handle keys that contain newlines.</p>\n",
        "x": 880,
        "y": 20,
        "wires": []
    },
    {
        "id": "c33c9d59cdbdfc44",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "REPLIT_DB_URL",
        "payloadType": "env",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "52a57f3a6d292a61"
            ]
        ]
    },
    {
        "id": "52a57f3a6d292a61",
        "type": "debug",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "d05758094cf15e8b",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key1",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "c67790c7cfdb39fb"
            ]
        ]
    },
    {
        "id": "a035fdbd1f0f4ccc",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key2",
        "payload": "{\"test\":123}",
        "payloadType": "json",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "c67790c7cfdb39fb"
            ]
        ]
    },
    {
        "id": "01f94453922dd072",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "a6efc5b8c5997fda"
            ]
        ]
    },
    {
        "id": "71e0be105a0f2315",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key1",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "a6efc5b8c5997fda"
            ]
        ]
    },
    {
        "id": "8533763dd0800245",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key2",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "a6efc5b8c5997fda"
            ]
        ]
    },
    {
        "id": "24be5cac09f74d7d",
        "type": "debug",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "statusCode",
        "statusType": "msg",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "a253cf6aa21f3432",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "917862e89bf22f1f"
            ]
        ]
    },
    {
        "id": "de6aa1ef60301b8a",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key1",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "917862e89bf22f1f"
            ]
        ]
    },
    {
        "id": "6fd372a528baae11",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key2",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "917862e89bf22f1f"
            ]
        ]
    },
    {
        "id": "24902749277c9787",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "d0f1798576448ef4"
            ]
        ]
    },
    {
        "id": "eff9e5f752058edd",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "all db",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "d0f1798576448ef4"
            ]
        ]
    },
    {
        "id": "5ce6a5cfd1b79ee6",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "31a5aa82a864fdb5"
            ]
        ]
    },
    {
        "id": "53867b334ed42ca3",
        "type": "inject",
        "z": "c8673a58c7a8b6d4",
        "name": "all db",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "31a5aa82a864fdb5"
            ]
        ]
    },
    {
        "id": "917862e89bf22f1f",
        "type": "subflow:51d46dfb7c36233d",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "24be5cac09f74d7d"
            ]
        ]
    },
    {
        "id": "31a5aa82a864fdb5",
        "type": "subflow:77b25691e26355cb",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "x": 440,
        "y": 560,
        "wires": [
            [
                "24be5cac09f74d7d"
            ]
        ]
    },
    {
        "id": "d0f1798576448ef4",
        "type": "subflow:670f987126b6d313",
        "z": "c8673a58c7a8b6d4",
        "name": "",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "24be5cac09f74d7d"
            ]
        ]
    },
    {
        "id": "867efeb15598adf3",
        "type": "comment",
        "z": "c8673a58c7a8b6d4",
        "name": "SET",
        "info": "",
        "x": 430,
        "y": 20,
        "wires": []
    },
    {
        "id": "1cb6b2e902c2ea3f",
        "type": "comment",
        "z": "c8673a58c7a8b6d4",
        "name": "GET",
        "info": "",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "04dfa265ec4a3f50",
        "type": "comment",
        "z": "c8673a58c7a8b6d4",
        "name": "DELETE",
        "info": "",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "42b25b8b961aab8a",
        "type": "comment",
        "z": "c8673a58c7a8b6d4",
        "name": "DROP",
        "info": "",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "a4e556238c9201e9",
        "type": "comment",
        "z": "c8673a58c7a8b6d4",
        "name": "DUMP",
        "info": "",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "746e7cdc679a0829",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "t",
        "payloadType": "date",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "a4d2922bc55ecdb8"
            ]
        ]
    },
    {
        "id": "0a759286a58d959f",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hello",
        "payload": "world",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "a4d2922bc55ecdb8"
            ]
        ]
    },
    {
        "id": "60dd2b8d6e62c087",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"hello\":\"world\"}",
        "payloadType": "json",
        "x": 190,
        "y": 20,
        "wires": [
            [
                "a4d2922bc55ecdb8"
            ]
        ]
    },
    {
        "id": "06199580777aaa9c",
        "type": "comment",
        "z": "d018a781d8da7e02",
        "name": "SET",
        "info": "",
        "x": 430,
        "y": 20,
        "wires": []
    },
    {
        "id": "389ad6b031102367",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "t",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "9f3a6d709b3acebf"
            ]
        ]
    },
    {
        "id": "914c4611986eb784",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hello",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "9f3a6d709b3acebf"
            ]
        ]
    },
    {
        "id": "117ce63246718729",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "9f3a6d709b3acebf"
            ]
        ]
    },
    {
        "id": "1ca4c3c4a013bad1",
        "type": "comment",
        "z": "d018a781d8da7e02",
        "name": "GET",
        "info": "",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "03fe1ddbbe439660",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "t",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "e4979e0e16d27fe9"
            ]
        ]
    },
    {
        "id": "5677b858b38b231a",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hello",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "e4979e0e16d27fe9"
            ]
        ]
    },
    {
        "id": "ff59992b3d1eb391",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "e4979e0e16d27fe9"
            ]
        ]
    },
    {
        "id": "1dc378c732252960",
        "type": "comment",
        "z": "d018a781d8da7e02",
        "name": "DELETE",
        "info": "",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "44a16ff2c07a5029",
        "type": "comment",
        "z": "d018a781d8da7e02",
        "name": "KEYS",
        "info": "",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "e3a64aad213b036c",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "all",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "551e375d68117362"
            ]
        ]
    },
    {
        "id": "6318f3aac04886ab",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "prefix: t",
        "props": [
            {
                "p": "prefix",
                "v": "t",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "551e375d68117362"
            ]
        ]
    },
    {
        "id": "8d72fdf608252a4a",
        "type": "debug",
        "z": "d018a781d8da7e02",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "d1a9c4d8593b5564",
        "type": "comment",
        "z": "d018a781d8da7e02",
        "name": "DUMP",
        "info": "",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "654a323ae7276799",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "all",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "b8d14833cb6a058e"
            ]
        ]
    },
    {
        "id": "d071f3d3f8b33114",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "prefix: t",
        "props": [
            {
                "p": "prefix",
                "v": "t",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "b8d14833cb6a058e"
            ]
        ]
    },
    {
        "id": "a4d2922bc55ecdb8",
        "type": "subflow:e956e6dd064811c4",
        "z": "d018a781d8da7e02",
        "name": "",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "8d72fdf608252a4a"
            ]
        ]
    },
    {
        "id": "9f3a6d709b3acebf",
        "type": "subflow:478f6bb31457a2d0",
        "z": "d018a781d8da7e02",
        "name": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "8d72fdf608252a4a"
            ]
        ]
    },
    {
        "id": "e4979e0e16d27fe9",
        "type": "subflow:6bef94800244e7e5",
        "z": "d018a781d8da7e02",
        "name": "",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "8d72fdf608252a4a"
            ]
        ]
    },
    {
        "id": "551e375d68117362",
        "type": "subflow:87278472e4564b17",
        "z": "d018a781d8da7e02",
        "name": "",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "8d72fdf608252a4a"
            ]
        ]
    },
    {
        "id": "b8d14833cb6a058e",
        "type": "subflow:86b72b03d3957ef8",
        "z": "d018a781d8da7e02",
        "name": "",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "8d72fdf608252a4a"
            ]
        ]
    },
    {
        "id": "9f126f7310a07a96",
        "type": "function",
        "z": "d018a781d8da7e02",
        "name": "all-in-one",
        "func": "var db = flow.get(\"db\");\n\nvar aio = (x) => {\n\n    var key = x.topic;\n    var value = x.payload;\n    switch (x.command) {\n        case \"create\": {\n            // Create a new database\n            flow.set(\"db\", new replitDatabase());\n            node.send(x);\n            break;\n        }\n        case \"set\": {\n            // Set a key to a value\n            db.set(key, value).then(() => { \n                node.send(x);\n            });\n            break;\n        }\n        case \"get\": {\n            // Get a key's value\n            db.get(key).then(value => { \n                x.payload = value;\n                node.send(x);\n            });\n            break;\n        }\n        case \"delete\": {\n            // Delete a key\n            db.delete(key).then(() => { \n                node.send(msg);\n            });\n            break;\n        }\n        case \"keys\": {\n            if (x.prefix) {\n                //List keys with a prefix\n                db.list(x.prefix).then(matches => {\n                    x.payload = matches;\n                    node.send(x);\n                });\n            } else {\n            // List all keys\n                db.list().then(keys => { \n                    x.payload = keys;\n                    node.send(x);\n                });\n            }\n            break;\n        }\n    }\n}\n\naio(msg);\n\nreturn {payload: db};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// Import the database\n//const replitDatabase = require(\"@replit/database\")\n\n// Create a new database\n//const db = new replitDatabase();\nflow.set(\"db\", new replitDatabase());\n",
        "finalize": "",
        "libs": [
            {
                "var": "replitDatabase",
                "module": "@replit/database"
            }
        ],
        "x": 840,
        "y": 200,
        "wires": [
            [
                "2cb77d46b1a5a159"
            ]
        ]
    },
    {
        "id": "c912d212b3a2cfe0",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 120,
        "wires": [
            [
                "9f126f7310a07a96"
            ]
        ]
    },
    {
        "id": "2cb77d46b1a5a159",
        "type": "debug",
        "z": "d018a781d8da7e02",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "60e6cd119b72be22",
        "type": "subflow:21c789ed7792f7ee",
        "z": "d018a781d8da7e02",
        "name": "",
        "x": 910,
        "y": 560,
        "wires": [
            [
                "8d72fdf608252a4a"
            ]
        ]
    },
    {
        "id": "e1d3e09d8ba9e542",
        "type": "comment",
        "z": "d018a781d8da7e02",
        "name": "DROP",
        "info": "",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "0028da450a18ab0a",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "all",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "60e6cd119b72be22"
            ]
        ]
    },
    {
        "id": "6de6c412b67c32f5",
        "type": "inject",
        "z": "d018a781d8da7e02",
        "name": "prefix: t",
        "props": [
            {
                "p": "prefix",
                "v": "t",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "60e6cd119b72be22"
            ]
        ]
    }
]